.container {
  width: 246.491px;
  margin: 10vh auto;
}

.flexWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.openBtn {
  border: 1px solid grey;
}

.openBtn, .closeBtn {
  cursor: pointer;
  background-color: transparent;
  border-radius: 7px;
  
  padding: 4px;
  outline: none;
}

.openBtn:hover, .closeBtn:hover {
  background-color: rgb(223, 223, 223);
}

.calendarWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  padding: 2em 0 2em 2em;
  border-radius: 1em;
}

.calendarPage h2 {
  margin-top: 0;
}

.closeBtn {
  float: right;
  border: 0;
}